@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "Sarabun", sans-serif;
}

.v-application {
  font-family: "Sarabun", sans-serif;

  .v-application--wrap {
    font-family: "Sarabun", sans-serif;
    background-color: #658182;
  }
}

.ig-color-white {
  color: #cccccc;
}
